<!-- DEPARTURE -->
<div class="card card-success">
    <div class="card-header">
        <h4 class="card-title w-100">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">{{ _("Departure") }}</a>
        </h4>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="" id="poeForm">
                <input type="hidden" name="arrivalOrDeparture" value="Departure"/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Port of Departure") }}</label>
                            <select class="form-control select2" name="portOfEntry"  data-dropdown-css-class="select2-purple"
                                data-placeholder={{ _("Port of Entry") }} data-msg="Port of Entry is required">
                                <option value="">{{ _("Select Port of Entry") }}</option>
                                {% for p in ports %}
                                <option value={{p.dhis2_code}}>{{p.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Country of Residence") }}</label>
                            <select name="countryOfResidence" class="form-control select2" data-dropdown-css-class="select2-purple"
                                data-placeholder={{ _("Country of Residence") }} style="width: 100%;">
                                <option value="">{{ _("Country of Residence") }}</option>
                                {% for n in countries %}
                                <option value={{n.alpha_2_code}}>{{n.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Name of Traveller") }}</label>
                            <input type="text" class="form-control" placeholder="Name ..." name="name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Nationality") }}</label>
                            <select class="form-control select2" name="nationality"  data-dropdown-css-class="select2-purple"
                                data-placeholder={{ _("Nationality") }}>
                                <option value="">{{ _("Select Nationality") }}</option>
                                {% for n in countries %}
                                <option value={{n.alpha_2_code}}>{{n.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Date of Birth") }}</label>
                            <div class="input-group date" id="dateOfBirth1" data-target-input="nearest">
                                <input type="text" name="dateOfBirth" id="dateOfBirthInput1" class="form-control datetimepicker-input" 
                                    data-target="#dateOfBirth1" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                                <div class="input-group-append" data-target="#dateOfBirth1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Age (years)") }}</label>
                            <select class="form-control" name="age" id="age1">
                                <option value="">{{ _("Select Age") }}</option>
                                {% for a in range(0, 99) %}
                                <option value={{a}}>{{ a }}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Sex") }}</label>
                            <select name="sex" class="form-control" placeholder="Sex...">
                                <option value="">{{ _("Select Sex")}}</option>
                                <option value="Male">{{ _("Male")}}</option>
                                <option value="Female">{{ _("Female")}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Email") }}</label>
                            <input type="text" class="form-control" placeholder="Email" name="email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Passport Number / National ID Number") }}</label>
                            <input type="text" class="form-control" placeholder="Passport No..." name="passportNumber">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Passport Expiry Date") }}</label>
                            <div class="input-group date" id="passportExpiryDate1" data-target-input="nearest">
                                <input type="text" name="passportExpiryDate" class="form-control datetimepicker-input"
                                    data-target="#passportExpiryDate1" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                                <div class="input-group-append" data-target="#passportExpiryDate1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Date of Departure") }}</label>
                            <div class="input-group date" id="dateOfDeparture1" data-target-input="nearest">
                                <input type="text" name="dateOfDeparture" class="form-control datetimepicker-input"
                                    data-target="#dateOfDeparture1" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                                <div class="input-group-append" data-target="#dateOfDeparture1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Country of Departure") }}</label>
                            <select name="countryOfDeparture" class="form-control select2" data-dropdown-css-class="select2-purple"
                                data-placeholder={{ _("Country of Departure") }} style="width: 100%;">
                                <option value="">{{ _("Country") }}</option>
                                {% for n in countries %}
                                <option value={{n.alpha_2_code}}>{{n.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Country of Destination") }}</label>
                            <select name="travellingTo" class="form-control select2" data-dropdown-css-class="select2-purple"
                                data-placeholder={{ _("Country") }} style="width: 100%;" required>
                                <option value="">{{ _("Country") }}</option>
                                {% for n in countries %}
                                <option value={{n.alpha_2_code}}>{{n.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>{{ _("Mode of Transport") }}</label>
                            <select name="modeOfTransport" id="modeOfTransport1" class="form-control" 
                                placeholder="Mode of Transport...">
                                <option value="">{{ _("Select Mode of Transport")}}</option>
                                <option value="Air">{{ _("By Air")}}</option>
                                <option value="Road">{{ _("By Road")}}</option>
                                <option value="Water">{{ _("By Water")}}</option>
                                <option value="Rail">{{ _("By Rail")}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>{{ _("Purpose of your Trip") }}</label>
                            <Select name="purposeOfTrip" class="form-control" placeholder="Purpose of Trip...">
                                <option value="">{{ _("Select Purpose of Trip")}}</option>
                                <option value="Holiday">{{ _("Holiday")}}</option>
                                <option value="Business">{{ _("Business")}}</option>
                                <option value="Official or Diplomatic">{{ _("Offical or Diplomatic")}}</option>
                                <option value="Visiting friends or Relatives">{{ _("Visiting Friends or Relatives")}}</option>
                                <option value="Transit">{{ _("Transit")}}</option>
                                <option value="Conference">{{ _("Conference")}}</option>
                                <option value="Employment">{{ _("Employment")}}</option>
                                <option value="Student">{{ _("Student")}}</option>
                                <option value="Medical">{{ _("Medical")}}</option>
                                <option value="Crew">{{ _("Crew")}}</option>
                            </Select>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Airport of departure")}}</label>
                            <select name="embarkmentAirport" id="embarkmentAirport" 
                                class="form-control select2" data-dropdown-css-class="select2-purple"
                                data-placeholder={{ _("Select Airport of departure") }} style="width: 100%;">
                                <option value="">{{ _("Select Airport of departure") }}</option>
                                {% for airport in airports %}
                                <option value={{airport.name}}>{{airport.iata_code + " - " + airport.name + " - " + airport.country_code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Flight / Vehicle Number") }}</label>
                            <input type="text" class="form-control" placeholder="Flight No./Vehicle No..." name="flightOrVesselNumber">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Seat Number") }}</label>
                            <input type="text" class="form-control" id="seatNumber1" 
                                placeholder="Seat Number..." name="seatNumber">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Physical address while in Uganda") }}</label>
                            <input type="text" name="ugPhysicalAddress" class="form-control" placeholder="Physical address while in Uganda ...">
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Your contact phone number while in Uganda") }} </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber1">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Contact/ next of kin telephone number") }}</label>
                            <input type="text" class="form-control" placeholder="Next of kin ..." name="nextOfKin">
                        </div>
                    </div>
                </div>


                <br/>
                <h4>Health</h4>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Have you had any of the following signs and symptoms within the past 2 days?") }}</label>
                            <input name="freeFromSymptoms"  value="No" type="hidden" id="departure_freeFromSymptoms"/>            
                        </div>
                    </div>

                </div>
                {% include 'signs_and_symptoms_departure.html' %}
                
                <!--
                <div class="row" id="covidCertDiv1">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="covidVaccinationCert1">{{ _("Upload COVID-19 Vaccination Certificate") }}</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="covidVaccinationCert1" name="covidVaccinationCert"/>
                                    <label for="covidVaccinationCert1" class="custom-file-label">
                                        {{_("Choose File")}} .jpg or .png</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Do you have proof of a Negative PCR Test done 72 hours prior to your departure from your port of embarkment?") }}  </label>
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="pcr1" name="hasNegativePCRTest" value="yes"/>
                                <label for="pcr1">{{ _("Yes") }}</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="pcr2" name="hasNegativePCRTest" value="no"/>
                                <label for="pcr2">{{ _("No") }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ _("PCR Tested Date") }}</label>
                            <div class="input-group date" id="pcrTestedDate1" data-target-input="nearest">
                                <input type="text" name="pcrTestedDate" class="form-control datetimepicker-input"
                                    data-target="#pcrTestedDate1" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                                <div class="input-group-append" data-target="#pcrTestedDate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="pcrfileDiv">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="pcrTestCopy">{{ _("PCR Test Result Copy") }}</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="pcrTestCopy" name="pcrTestCopy"/>
                                    <label for="pcrTestCopy" class="custom-file-label">{{_("PCR Test Result Copy")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <h4>In the Last 21 days</h4>
                {% include 'ebola.html' %}
                <br/>
                <h4>COVID-19</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ _("Have you been fully vaccinated?") }}  </label>
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="covidvv2" name="beenCovidVaccinated" value="Yes"/>
                                <label for="covidvv2">{{ _("Yes") }}</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="radio" id="covidvv3" name="beenCovidVaccinated" value="No"/>
                                <label for="covidvv3">{{ _("No") }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ _("Date of last Vaccination") }}</label>
                            <div class="input-group date" id="dateOfLastCovidVaccination1" data-target-input="nearest">
                                <input type="text" name="dateOfLastCovidVaccination" class="form-control datetimepicker-input"
                                    data-target="#dateOfLastCovidVaccination1" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                                <div class="input-group-append" data-target="#dateOfLastCovidVaccination1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <h4>Yellow Fever</h4>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="yellowFeverCardNumber">{{ _("Yellow Fever Card Number") }}</label>
                            <input type="text" class="form-control" id="yellowFeverCardNumber" name="yellowFeverCardNumber"/>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ _("Date of Yellow Fever Vaccination") }}</label>
                            <div class="input-group date" id="dateOfYellowFeverVaccination1" data-target-input="nearest">
                                <input type="text" name="dateOfYellowFeverVaccination" class="form-control datetimepicker-input"
                                    data-target="#dateOfYellowFeverVaccination1" data-toggle="datetimepicker" placeholder="YYYY-MM-DD"/>
                                <div class="input-group-append" data-target="#dateOfYellowFeverVaccination1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{{ _("Submit") }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
