{% extends "layout2.html" %}
{% from 'layout2.html' import navbar, myscripts, topnavbar  %}

{% block title %}POE.::.QR Code{% endblock%}

{% block topnav %}
    {% call topnavbar() %}
    {% endcall %}
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    <br/>
    <input type="hidden" id="text" value={{ "https://poe-screening.health.go.ug/qr-verify/" + saved_record }}/>
    <input type="hidden" id="qrcolor" value="{{ qrcode_color }}">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Registration QR Code</h3>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div id="qrcode">
                            </div>
                            <div><p>{{_("Please take a screenshot of your QR Code to present to Port health")}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% call myscripts() %}
    <script type="text/javascript" src="/static/plugins/davidshimjs-qrcodejs/qrcode.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var qrCodeColor = $("#qrcolor").val();
            console.log("QR Color is =>", qrCodeColor)
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                width : 150,
                height : 150,
                colorDark : qrCodeColor
            });

            function makeCode () {
                    var elText = document.getElementById("text");

                    if (!elText.value) {
                            alert("Input a text");
                            elText.focus();
                            return;
                    }

                    qrcode.makeCode(elText.value);
            }
            makeCode();

            $("#text").
                on("blur", function () {
                        makeCode();
                }).
                on("keydown", function (e) {
                        if (e.keyCode == 13) {
                                makeCode();
                        }
                });
        });
    </script>
    {% endcall %}
{% endblock %}
