<div class="row">
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>{{ _("Fever") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="fever" name="hasFever" value="yes" class="symptom"/>
                                        <label for="fever">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="fever1" name="hasFever" value="no"/>
                                        <label for="fever1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Headache") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="headache1" name="hasHeadache" value="yes" class="symptom"/>
                                        <label for="headache1">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="headache" name="hasHeadache" value="no"/>
                                        <label for="headache">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Cough") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="cough" name="hasCough" value="yes" class="symptom"/>
                                        <label for="cough">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="cough1" name="hasCough" value="no"/>
                                        <label for="cough1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Sore throat") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="sore" name="hasSoreThroat" value="yes" class="symptom"/>
                                        <label for="sore">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="sore1" name="hasSoreThroat" value="no" class="symptom"/>
                                        <label for="sore1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("General body weakness (fatigue)") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="weak" name="hasFatigue" value="yes" class="symptom"/>
                                        <label for="weak">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="weak1" name="hasFatigue" value="no"/>
                                        <label for="weak1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Difficulty in breathing / shortness of breath") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="short" name="hasBreathingDifficulty" value="yes" class="symptom">
                                        <label for="short">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="short1" name="hasBreathingDifficulty" value="no">
                                        <label for="short1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                </div>
                <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{ _("Diarrhoea") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="diarrhoea" name="hasDiarrhoea" value="yes" class="symptom">
                                        <label for="diarrhoea">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="diarrhoea1" name="hasDiarrhoea" value="no">
                                        <label for="diarrhoea1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Vomiting") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="vomiting" name="vomits" value="yes" class="symptom">
                                        <label for="vomiting">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="vomiting1" name="vomits" value="no">
                                        <label for="vomiting1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Blood in cough or stool or vomitus") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="blood" name="hasBloodInCoughOrStool" value="yes" class="symptom">
                                        <label for="blood">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="blood1" name="hasBloodInCoughOrStool" value="no">
                                        <label for="blood1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Abdominal pain") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="abdominal" name="hasAbdominalPain" value="yes" class="symptom">
                                        <label for="abdominal">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="abdominal1" name="hasAbdominalPain" value="no">
                                        <label for="abdominal1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Skin rash") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="skin" name="hasSkinRash" value="yes" class="symptom">
                                        <label for="skin">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="skin1" name="hasSkinRash" value="no">
                                        <label for="skin1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Bleeding from body parts (nose, mouth, red eyes)") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="bleeding" name="bleedsFromBodyParts" value="yes" class="symptom">
                                        <label for="bleeding">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="bleeding1" name="bleedsFromBodyParts" value="no">
                                        <label for="bleeding1">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
