<div class="row">
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>{{ _("Fever") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="fever2" name="hasFever" value="Yes"/>
                                        <label for="fever2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="fever3" name="hasFever" value="No"/>
                                        <label for="fever3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Headache") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="headache2" name="hasHeadache" value="Yes">
                                        <label for="headache2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="headache3" name="hasHeadache" value="No">
                                        <label for="headache3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Cough") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="cough2" name="hasCough" value="Yes">
                                        <label for="cough2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="cough3" name="hasCough" value="No">
                                        <label for="cough3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Sore throat") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="sore2" name="hasSoreThroat" value="Yes">
                                        <label for="sore2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="sore3" name="hasSoreThroat" value="No">
                                        <label for="sore3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("General body weakness (fatigue)") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="weak2" name="hasFatigue" value="Yes">
                                        <label for="weak2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="weak3" name="hasFatigue" value="No">
                                        <label for="weak3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Difficulty in breathing / shortness of breath") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="short2" name="hasBreathingDifficulty" value="Yes">
                                        <label for="short2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="short3" name="hasBreathingDifficulty" value="No">
                                        <label for="short3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{ _("Diarrhoea") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="diarrhoea2" name="hasDiarrhoea" value="Yes">
                                        <label for="diarrhoea2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="diarrhoea3" name="hasDiarrhoea" value="No">
                                        <label for="diarrhoea3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Vomiting") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="vomiting2" name="vomits" value="Yes">
                                        <label for="vomiting2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="vomiting3" name="vomits" value="No">
                                        <label for="vomiting3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Blood in cough or stool or vomitus") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="blood2" name="hasBloodInCoughOrStool" value="Yes">
                                        <label for="blood2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="blood3" name="hasBloodInCoughOrStool" value="No">
                                        <label for="blood3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Abdominal pain") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="abdominal2" name="hasAbdominalPain" value="Yes">
                                        <label for="abdominal2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="abdominal3" name="hasAbdominalPain" value="No">
                                        <label for="abdominal3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Skin rash") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="skin2" name="hasSkinRash" value="Yes">
                                        <label for="skin2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="skin3" name="hasSkinRash" value="No">
                                        <label for="skin3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Bleeding from body parts (nose, mouth, red eyes)") }}</td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="bleeding2" name="bleedsFromBodyParts" value="Yes">
                                        <label for="bleeding2">{{ _("Yes") }}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="bleeding3" name="bleedsFromBodyParts" value="No">
                                        <label for="bleeding3">{{ _("No") }}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
