<div class="card card-primary">
    <div class="card-header">
        <h4 class="card-title w-100">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                {{  _("Travel Advisory") }}
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <ul>
                <li>{{ _("Effective 27th October 2022. All travelers who enter Uganda via airports and other ports are required to complete the MoH Uganda Travel Health Declaration") }}</li>
                <li>{{ _("All passengers arriving to and departing from Uganda are required to complete the Traveler Health Declaration form within 24 hours of the flight time.") }}</li>
                <li>{{ _("All travelers should hold a valid COVID19 vaccination certificate or negative PCR test with a sample taken at most 72 hours prior to the first port of embarkation, en-route to Uganda.") }}</li>
                <li>{{ _("Children below the age of 5 years are exempted.") }}</li>
            </ul>

            <br/>
            <h6 style="color: red; text-transform: uppercase">{{ _("Travellers are advised to be as truthful as possible when filling out the health
declaration form as wrong information may attract penalties!") }}</h6>
        </div>
    </div>
</div>
