<div class="card card-primary">
    <div class="card-header">
        <h4 class="card-title w-100">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                COVID-19 {{  _("Travel Advisory") }}
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <ul>
                <li>All passengers arriving to and departing from Uganda are required to complete the Traveler Health Declaration form within 48 hours of the flight time.</li>
                <li>All travelers who enter the Uganda via airports and other ports are required to complete the MoH Uganda Traveler Health Declaration.</li>
                <li>All travelers should hold a valid negative PCR test result with a sample taken at most 96 hours prior to the first port of embarkation, en-route to Uganda. Children below the age of 1 (one) year are exempted.
                    <br/>
                    <h5>Travel restrictions due to Omicron variant</h5>
                    <ul>
                        <li>Effective from 28th November 2021, entry is suspended for the travelers traveling from South Africa, Botswana, Namibia, Zimbabwe, Mozambique, Lesotho and Eswatini (by air and land).</li>
                        <li>Entry restriction also applies to the travelers who have been to these countries during the past 14 days and those who have transited in these countries for more than 12 hours before traveling to Uganda.</li>
                    </ul>
                    <br/>
                    <h5>On-Arrival Quarantine Exemptions</h5>
                    Passengers under the following categories are exempt from quarantine requirements upon arrival
                    <ul>
                        <li>Passengers entering Uganda under a Tourist Visa</li>
                        <li>Fully vaccinated Ugandan citizens and their non-citizen dependents</li>
                        <li>Fully vaccinated Diplomat Visa holders and their dependents</li>
                        <li>Fully vaccinated Work Visa holders and their dependents</li>
                        <li>All passengers who fall under the aforementioned citizenship or immigration status if they were tested positive for COVID-19 during the last 60 days</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
